body {
  margin: 5rem 0;
  justify-content: center;
  background-color: #ffebcd;;
}

.container{
  max-width: 85% !important;
}

.container .card-body{
  padding: 2rem 0;
}

.todo-list{
  margin: 0;
}

.todo-list .todo-item{
  padding: 2rem;
  margin: 0;
  border-radius: 0;
}

.done{
  text-decoration: line-through;
}

.checker{
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  margin-right: 0.8rem;
}

.checker input{
  width: 0.95rem;
  height: 0.95rem;
}

.add-modal{
  margin-left: 2rem;
}

.timestamp{
  font-size: 0.8rem;
  color: #999;
}

.form-holder{
  text-justify: auto;
  border: 2px solid #ccc;
  box-shadow: 3px 3px 5px #ccc;
  margin-bottom: 2rem;
}

.card-subtitle{
  font-size: 1rem;
  background-color: #999;
  color: #fff;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  opacity: 0.8;
}
